.red {
    color:#FF0000;
}

.col-sm-12.col-md-3 {
    height:100%;
}

.card {
    padding:20px;
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    height:100%;
}

.message_row {
    margin-top:20px;
    font-size:1rem;
}

.number_display {
    font-size:5rem;
    font-weight:bold;
}

.number_title {
    font-size: 1.2rem;
    font-weight: 400;
}

div.pi_display {
    padding:0px;
}

.second-header {
   text-align: left;
   padding-top:4px;
   padding-bottom: 4px;
   font-weight: bold; 
}
.second-header > span {
    font-weight: normal;
}
